.lista-tarefas {
    max-width: 400px;
    margin: 20px auto;

    .titulo {
        text-align: center;
    }
      
    .input-container {
        display: flex;
        margin-bottom: 20px;

        .input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px 0 0 4px;
            font-size: 16px;
        }
          
        .botao {
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 0 4px 4px 0;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;

            .botao:hover {
                background-color: #45a049;
            }
        }
    
    }

    .ul {
        list-style: none;
        padding: 0;
        margin: 0;

        .li {
            padding: 10px;
            margin: 5px 0;
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            color: #000;
            border-radius: 4px;
            transition: background-color 0.3s;
    
            .li:hover {
                background-color: #f0f0f0;
            }
        }
    }
}