.bntExercio1 {
    background-color: rgb(4, 250, 25);
    border: 5px solid #FFF;
    font-weight: bold;
    font-size: 25px;

    &:hover {
        background: linear-gradient(45deg, red, orange, yellow, green, blue, purple);
        color: #000;
        border-color: #000;
    }
}